<%= form_for(@notice) do |f| %>

  <div class="field"><%= f.label t :name %><br>
    <%= f.text_field :name, class: 'fullwidth' %></div>

  <label class="inp_btn_label"><div class="inp_btn checkbox"><%= f.check_box :actual, {}, "true", "false" %></div>Актуально</label>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= submit_cancel notices_path %>
  </div>
  
<% end %>
