<%= form_for(@target) do |f| %>

  <%= f.hidden_field :id %>

  <div class="field">
      <%= f.label t :name %>
    <%= f.text_field :name %>
  </div>



  <div class="field">
       <%= f.label t :parent_id %>
    <%= f.text_field :parent_name %>

    <%= f.hidden_field :parent_id %>
  </div>

  <% if @target.parent.nil? %>
      <div class="field">
        <label>Или группы:</label>
          <%= chosen_src :tgroup_ids, Tgroup.all, @target,{class: 'chosen-select', multiple: true, width: '80%'} %>
      </div>

   <% end %>


    <%= f.hidden_field :user_id, :value => 1 %>



    <%= submit_cancel targets_path %>

<% end %>
