<%= form_for(@target) do |f| %>
  <% if @target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@target.errors.count, "error") %> prohibited this target from being saved:</h2>

      <ul>
      <% @target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :id %>
  

  <div class="input-group gr-btm_mg">
      <span class="input-group-addon addon100"><%= t :name %></span>
    <%= f.text_field :name %>
  </div>


  <div class="input-group gr-btm_mg">
      <span class="input-group-addon addon100"><%= t :parent_id %></span>
    <%= f.text_field :parent_name %>

    <%= f.hidden_field :parent_id %>
  </div>
  

    <%= f.hidden_field :user_id, :value => 1 %>

         
  <div class="actions">
    <%= f.submit nil, :class => "btn btn-success" %>
    <%= link_to t('Back'), targets_path, :class => "btn btn-white" %>
  </div>
<% end %>
