<%= form_for(@target) do |f| %>
  <% if @target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@target.errors.count, "error") %> prohibited this target from being saved:</h2>

      <ul>
      <% @target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :id %>
  

  <div class="field">
      <%= f.label t :name %>
    <%= f.text_field :name %>
  </div>


  <div class="field">
       <%= f.label t :parent_id %>
    <%= f.text_field :parent_name %>

    <%= f.hidden_field :parent_id %>
  </div>

  <% if @target.parent.nil? %>
      <div class="field">
        <label>Или группы:</label>
          <%= f.collection_select(:tgroup_ids, Tgroup.all, :id, :name, {}, {multiple: true,  class: "chosen-select", :include_blank => 'None'}) %>  
      </div>

   <% end %>
  

    <%= f.hidden_field :user_id, :value => 1 %>

         
  <div class="actions">
    <%= f.submit nil, :class => "btn btn-success" %>
    <%= link_to t('Back'), targets_path, :class => "btn btn-white" %>
  </div>
<% end %>
