<%= form_for(@denial) do |f| %>
  <% if @denial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@denial.errors.count, "error") %> prohibited this denial from being saved:</h2>

      <ul>
      <% @denial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t(:start_date) %><br>
    <%= f.text_field :start_date,:value=>@denial.denial_start_date, :class => 'datepicker' %>
  </div>

  <div class="actions">
    <%= f.submit nil, :class => "btn btn-success"%>
    <%= link_to t('Back'), denials_path, :class => "btn" %>
  </div>

<% end %>
