<%- model_class = Denial -%>
<h3><%= t("Listing denials")%></h3>

<table class="table table-striped">
  <thead>
    <tr>
     <th><%= t("Denial")%></th>
      <th><%= t("Start date")%></th>
      <th><%= t("Time ago")%></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @denials.each do |den| %>
      <tr>
        <td><%= den.name %></td>
        <td><%= den.denial_start_date %></td>
        <td><%= time_ago_in_words(den.denial_start_date) %></td>
        
        <td><%= link_to image_tag('edit.png'), edit_denial_path(den) %>
           <%= link_to image_tag('delete.png'), den, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New Denial'), new_denial_path, :class=>"btn btn-success" %>
