<% cur_date = "" %>


<% @attentions.each do |attention| %>
  <% if cur_date != attention.created_at.try('strftime',"%d.%m.%Y") %>
      <% cur_date = attention.created_at.try('strftime',"%d.%m.%Y") %>
      <h5> <%= cur_date %> </h5>
  <% end %>
 <div class="attn_boby">

  <div class="attn_img_box left"><%= image_tag attention.image, class: "img_attn" %></div>
  <div class="col-80">
    <div class="attn_head left fullwidth">
      <span><%= attention.author.try(:name) %></span>
      <span><%= attention.name %></span>
      <div class="statement_edit_menu">
        
        <%= link_to image_tag('link.png'), attention.src_url, :target => "_blank" %>
        <%= tool_icons(attention,{content_tag: :span})%>
      </div>
    </div>
    <div class="attn_desc">
        <%= raw CheckShortContent(attention.description,attention.id,310) %>
    </div>
  </div>
 </div>

<% end %>
