<div id="attn_form">
<%= form_for(@attention) do |f| %>

  <div class="field">
    <label>Наименование:</label>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label>Категория:</label>
    <div class="combobox"><%= chosen_src :attn_cat_id, AttnCat.all, params[:attn_cat_id], {nil_value: 'Категория...', class: 'st_chosen'} %></div>
  </div>
  <%= f.hidden_field :user_id, value: @user %>
  <div class="field">
    <%= f.label t :description %><br>
    <%= f.text_area :description, :class => "width_area",:size => "80x8" %>
  </div>
  <div class="field">
    <%= f.label t :src_url %><br>
    <%= f.text_field :src_url %>
  </div>
  <div class="field">
    <%= f.label t :img_url %><br>
    <%= f.text_field :img_url %>
  </div>

  <%= submit_cancel attentions_path %>
<% end %>
</div>
