<h1>Список интересного</h1>

<%= form_tag attentions_path, :method => 'get', :id => "attentions_search" do %>
  <p>
    <div class="navsearch">
    <%= text_field_tag :search, params[:search], :class => "search_area", :placeholder=>"Поиск по содержимому..." %>
    <div class="combobox big_combo"><%= chosen_src :attn_cat_id, AttnCat.all, params[:attn_cat_id], {nil_value: 'Категория...', class: 'st_chosen'} %></div>
    
    <div class="nav-pills">
     <%= link_to '+ Добавить высказывание', new_statement_path, :class =>"btn-success right" %>
    </div>
    </div>
<% end %>

  </p>

  <div id="attns"><%= render 'attns' %></div>
