<h1>Список интересного</h1>

<%= form_tag attentions_path, :method => 'get', :id => "attentions_search" do %>

    <div class="navsearch fullwidth">
    <%= text_field_tag :search, params[:search], :class => "search_area", :placeholder=>"Поиск по содержимому..." %>
    <div class="combobox big_combo"><%= chosen_src :attn_cat_id, AttnCat.all, params[:attn_cat_id], {nil_value: 'Категория...', class: 'filter_chosen'} %></div>
    <div class="combobox big_combo">
    <%= chosen_src :author_id, Author.where(id: Attention.pluck(:author_id).compact), params[:author_id],
                  {nil_value: 'Автор...', class: 'filter_chosen'} %>
    </div>

    <div class="nav-pills">
     <%= add_new new_attention_path %>
     <%= only_actual_btn %>
    </div>
    </div>
<% end %>

  <br/>

  <div id="attns"><%= render 'attns' %></div>
