<h1>Список задач</h1>

<div class="col-20">
<div class="options-menu">
  <div class="col-menu">
  <ul class="accordion" active="0">
      <li id="one3" class="files">
      <a href="#" class="active">Высказывания:</a>
      <ul class="sub-menu" style="display: block;">
          <li class="active"><a class="list-group-item" href="#">Сегодня/завтра</a></li>
          <li class=""><a class="list-group-item" href="#">Неделя</a></li>
          <li class=""><a class="list-group-item" href="#">Просроченные</a></li>
      </ul>
      </li>
    </div>
    </ul>
  </div>
</div>

<div class="col-80">
<%= form_for(@task) do |t| %>
<div id="itemAdd_form" class="inline">

  <div class="input-group left">
    <div class="input-group-addon">Новая задача:</div>
    <div class="txt"><%= t.text_field :name, :class => 'txt' %></div>
  </div>
  <div class="field left w100 input-group">
  <%= t.text_field :start_date,:value => Date.today.try('strftime',"%d.%m.%Y"), label: false, class: "txt datepicker" %>
  </div>
  <div class="field left" style="width: 186px;"><%= chosen_src "task[task_cat_id]", TaskCat.all, params[:task_cat_id], {nil_value: 'Категория...', class: 'filter_chosen'} %>
  </div>

  <span class="sub btn btn-min btn-success right" id="btn-send"> Добавить</span>
</div>
<% end %>

<div id="tasks">
<%= render 'tasks' %>
</div>
</div>
