<%= form_for(@claim) do |f| %>

  <div class="field"><%= f.label t :name %>
    <%= f.text_field :name, class: 'fullwidth' %></div>

  <div class="field"><%= f.label 'Дата' %>
    <%= f.text_field :date, :value=>@claim.date.try('strftime',"%d.%m.%Y"), :class => 'datepicker' %></div>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <label class="inp_btn_label"><div class="inp_btn checkbox"><%= f.check_box :reached, {}, "true", "false" %></div><%= t :reached %></label>

  <div class="actions">
   <%= submit_cancel claims_path %>
  </div>
<% end %>
