<%= form_for(@statement) do |f| %>
  <% if @statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% @statement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-8">
    <%= f.hidden_field :author_id   %>
    <div class="field"> <label><%= t :author %></label>
      <%= f.text_field :author_name, data: {autocomplete_source: authors_path} %> </div>

    <div class="field"><label><%= t :source %></label>
      <%= f.text_field :source %></div>

    <div class="field"><label><%= t :tags %></label>
      <%= f.collection_select(:tag_ids, Tag.all, :id, :name, {}, {multiple: true,  class: "chosen-select", :include_blank => 'None'}) %>  </div>

    <div class="field"><label><%= t :book_id %></label>
      <%= f.text_field :book_name, data: {autocomplete_source: books_path}, :class => "width_area" %></div>
  </div>

  <div class="col-md-4">
    <label class="inp_btn_label"><div class="inp_btn checkbox"><%= f.check_box :isTip, {}, "true", "false" %></div>Совет
     </label>

  </div>
</div>
<div class="row">
  <div class="field"><label><%= t :content %></label>
  <%= f.text_area :content, :class => "width_area",:size => "80x8" %>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => "btn btn-success" %> 
    <%= link_to t('Back'), statements_path, :class => "btn btn-white" %>
  </div>
</div>

<% end %>
