<%= form_for(@statement) do |f| %>
  <% if @statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% @statement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table><tr><td><div class="field">
    <%= f.label t :author %>
    <%= f.text_field :author_name, data: {autocomplete_source: authors_path} %>
  </div></td>
  <td><div class="field">
    <%= f.label t :source %>
    <%= f.text_field :source %>
  </div></td></tr></table>
   <div class="field">
    <%= f.label :tag_tokens, t("tags") %>
    <%= f.text_field :tag_tokens, data: {load: @statement.tags} %>
  </div>
  
  <div class="field">
    <%= f.label t :theme %>
    <%= f.text_field :theme, :class => "width_area" %>
  </div>
 
 <div class="field">
     <%= f.label t(:book_id) %>
    <%= f.text_field :book_name, data: {autocomplete_source: books_path}, :class => "width_area" %>
  </div>

  <div class="field">
    <%= f.label t :content %>
    <%= f.text_area :content, :class => "width_area",:size => "100x10" %>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => "btn btn-success" %> 
    <%= link_to t('Back'), statements_path, :class => "btn" %>
  </div>
<% end %>
