<div class="nav nav-pills">
	<%= menu_li "Высказывания", :statements %>
	<%= menu_li "Авторы", 'options/authors' %>
	<%= menu_li "Книги", 'options/books' %>   
	<%= menu_li "Метки", 'options/tags' %>
	<li> <%= link_to '+ Добавить высказывание', new_statement_path, :class =>"btn-success" %></li>
</div> 
