<div class="nav nav-pills">
	<%= menu_li "Высказывания", :statements %>
	<%= menu_li "Авторы", :authors %>
	<%= menu_li "Книги", :books %>   
	<%= menu_li "Метки", :tags %>
	<li> <%= link_to 'Добавить высказывание', new_statement_path, :id => "link_to_new_statement", :class =>"btn-success" %></li>
</div> 
