<% if @author %>
	<h3>Высказывания автора: <%= @author.name %></h3>
<% else %>
	<h3>Высказывания известных людей</h3>
<% end %>



<%= form_tag statements_path, :method => 'get', :id => "statements_search" do %>
  <p>
    <div class="navsearch">
    <%= text_field_tag :search, params[:search], :class => "search_area", :placeholder=>"Поиск по содержимому..." %>

    <div class="combobox big_combo">
      <%= chosen_src :book_id, Book.all, params[:book_id], {nil_value: 'Книга...', class: 'filter_chosen'} %></div>
    <div class="combobox">
      <%= chosen_src :tag_id, Tag.all, params[:tag_id], {nil_value: 'Метка...', class: 'filter_chosen'} %></div>
    <div class="combobox">
      <%= chosen_src :author_id, Author.all, params[:author_id], {nil_value: 'Автор...', class: 'filter_chosen'} %></div>


    </div>
    <%= submit_tag "Поиск", :name => nil, :class=>"btn btn-white2 btn-sm2 left" %>
<% end %>

  </p>
  <div id="statements"><%= render 'statements' %></div>




