<%= form_for(@book) do |f| %>

  <div class="field">
    <%= f.label t :name %>
    <%= f.text_field :name, :class => "width_area" %>
  </div>
  <div class="field">
     <%= f.label t(:author_id) %>
    <%= f.text_field :author_name, data: {autocomplete_source: authors_path} %>
  </div>

  <div class="field">
    <%= f.label 'url' %>
    <%= f.text_field :img_url, :class => "width_area" %>
  </div>

  <div class="field">
    <%= f.label 'Описание' %>
    <%= f.text_area :annotation, :class => "width_area",:size => "80x8" %>
  </div>

  <%= submit_cancel books_path %>
<% end %>
