<% statement = getRandomStatement%>

    <div id="statement_show" class="mini">
    	<div class="rand_statement">Случайное высказываение</div>
    	<div id="statement_header">
    		<% link_to image_tag('left.png'), "statements/".concat((statement.id-1).to_s) %> 
    		<b>#</b> <%= statement.id %>
    		<% text_field :statement_id, statement.id, :size => 1, :value => statement.id %>
    		<% link_to image_tag('right.png'), "statements/".concat((statement.id+1).to_s) %>
    </div><br />
	<div id="statement_content"><p><%= raw CheckShortContent(RedCloth.new(statement.content).to_html,statement.id) %></p></div>
	  <div id="statement_footer">
        <div id="statement_author"><b>Автор: </b><%= statement.author_name %><br />
        	<% if statement.theme? %>
		    <b>Тема: </b>
		    	<% end %> <%= statement.theme %>
		</div>
		<div id="statement_edit_menu">
		    
		    <%= link_to image_tag('link.png'), statement.source %>
		      <%= link_to image_tag('edit.png'), edit_statement_path(statement) %>
		      

		</div>
      </div>
	</div>
	<div id="statement_bottom" class="mini"></div>