<% statement = getRandomStatement%>
<% if statement!=nil %>
  <div class="statement_show mini">
    <div class="min_statement_head">Случайное высказываение</div>
    <div class="statement_header">
  		<% link_to image_tag('left.png'), "statements/".concat((statement.id-1).to_s) %> 
  		<b>#</b> <%= statement.id %>
  		<% text_field :statement_id, statement.id, :size => 1, :value => statement.id %>
  		<% link_to image_tag('right.png'), "statements/".concat((statement.id+1).to_s) %>
    </div><br />
	<div class="statement_content"><p><%= raw CheckShortContent(RedCloth.new(statement.content).to_html,statement.id) %></p></div>
	<div class="statement_footer">
  <div class="statement_author"><b>Автор: </b><%= statement.author_name %><br />
      <% if statement.theme? %>
		    <b>Тема:</b><%= statement.theme %>
		  <% end %> 
		</div>
		<div class="statement_edit_menu">
		  <%= link_to image_tag('link.png'), statement.source %>
		  <%= tool_icons(statement,{icons: 'edit'}) %>
		</div>
      </div>
	</div>
	<div class="statement_bottom mini"></div>
<% end %>